# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/
coverage/
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Prisma
apps/api/prisma/migrations/dev/

# Testing
*.lcov

# Misc
*.tsbuildinfo
.env.vault
